/config
/Practice_Basic/LoginForm
/000.font/font_file
/001.flex/fontawesome
/Youtube_Clone/video
/img
.vscode
Practice_Basic/module/images-login
bootstrap/img
tailwind/img
SASS/examples
SASS/practice/*.css.map
node_modules
package-lock.json
package.json
Practice_Basic/module/video