// Scss - for문
// for문을 이용해 nth-선택자에게 각각의 image를 배경에 넣어준다.
@for $i from 1 through 5 {
  .photo-box:nth-child(#{$i}) {
    background-image: url("../assets/phoster#{$i}.png");
  }
}
// 범위 1이상 5이하
// for문에서 1부터 5까지 반복하라는 의미입니다. 총 5번 반복되면서 코드가 실행된다.
// 만약 from 3 throught 8 이라면 3에서 8까지 6번 실행된다.

// .content-1 {
//     font-size: 10px;
//     width: 100px;
//     height: 100px;
//     background-color: red;
// }
// ...
// .content-10 {
//     font-size: 100px;
//     width: 100px;
//     height: 100px;
//     background-color: red;
// }

@for $hojun from 1 through 10 {
  .content-#{$hojun} {
    font-size: #{$hojun * 10}px;
    width: 100px;
    height: 100px;
    background-color: red;
  }
}
