.wrap {
  position: relative;
  margin: 10px auto 30px;
  width: 500px;
  height: 330px;
  border: 1px dotted #000;
}
.wrap div {
  position: absolute;
  width: 200px;
  height: 200px;
  font-size: 30px;
  color: #000;
  text-align: left;
}
div.a {
  top: 30px;
  left: 10px;
  background: rgba(255, 0, 0, 0.8);
}
div.b {
  top: 80px;
  left: 90px;
  background: rgba(255, 255, 0, 0.8);
}
div.c {
  top: 120px;
  left: 180px;
  background: rgba(0, 0, 255, 0.8);
}
.ex2 div.b {
  z-index: 1;
}

/* just for demo */
body {
  margin: 0;
}
h1,
a {
  display: block;
  text-align: center;
}
p {
  margin: 0 auto;
  width: 600px;
}
