:root {
  --text-color: bisque;
  --background-color: #263343;
  --accent-color: d49466;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: bisque;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #263343;
  padding: 8px 12px;
}

.navbar_logo {
  font-size: 24px;
  color: bisque;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li,
.navbar_icons li {
  padding: 8px 12px;
}

.navbar_menu li:hover {
  background-color: #d49466;
  border-radius: 4px;
}

.navbar_icons {
  list-style: none;
  color: bisque;
  display: flex;
  padding-left: 0;
}

.navbar_toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: bisque;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar_toggleBtn {
    display: block;
  }

  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }
}
