div {
  width: 1200px;
  height: 100px;
  margin: 20px;
  padding: 20px;
  background-color: none;
  align-items: center;
  text-align: center;
}

span {
  margin: 20px;
  padding: 20px;
}

.float-wrap {
  overflow: hidden;
}

footer {
  align-items: center;
  text-align: center;
}
