@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

.login {
  padding: 50px;
  width: 400px;
  height: 250px;
  margin: 100px auto 0;
  border: 4px solid black;
  border-radius: 20px;
  box-sizing: border-box;
}

.login-id,
.login-pw {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

label {
  margin: 10px 20px 10px 0;
  font-size: 20px;
}

input {
  width: 170px;
  font-size: 20px;
}

.btn {
  width: 100%;
  height: 40px;
  margin-top: 30px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: greenyellow;
  font-size: 25px;
  font-weight: 700;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: green;
}

.login-text {
  font-size: 20px;
  line-height: 40px;
}

.login-padding {
  padding: 25px;
}

.logout-btn {
  margin-top: 20px;
}
