@charset "utf-8";
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

html {
  background-color: #5b2386;
  text-align: center;
}

#app {
  padding: 0 10px;
}
.tit-law {
  position: relative;
}
.tit-law::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -112px 0 0 -112px;
  display: block;
  content: "";
  width: 225px;
  height: 225px;
  background-image: url(../images-law/title_bg.png);
  background-size: 225px;
  z-index: -1;
}
.tit-law .img-tit {
  display: block;
  margin: 194px auto 0;
  max-width: 564px;
  width: 100%;
}
.img-txt {
  display: block;
  width: 100%;
  max-width: 486px;
  margin: 125px auto 78px;
}
.txt-desc {
  position: relative;
  max-width: 373px;
  font-size: 18px;
  line-height: 24px;
  margin: 0 auto 102px;
  color: #fff;
}
.txt-desc strong {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

.txt-desc::before,
.txt-desc::after {
  position: absolute;
  left: 0;
  top: 13px;
  display: block;
  content: "";
  width: 42px;
  height: 35px;
  background-image: url(../images-law/txt-left.png);
  background-size: 42px 35px;
}
.txt-desc::after {
  left: auto;
  right: 0;
  background-image: url(../images-law/txt-right.png);
}
.txt-wannabe,
.txt-time {
  color: #fff;
  font-size: 24px;
  line-height: 24px;
}
.txt-wannabe {
  margin-bottom: 27px;
}
.txt-wannabe strong,
.txt-time strong {
  font-weight: bold;
  font-size: 72px;
  line-height: 72px;
  vertical-align: -15px;
}
.txt-wannabe input,
.txt-time input {
  width: 228px;
  height: 57px;
  margin: 0 17px;
  border-radius: 7px;
  border: none;
  font-size: 24px;
  text-align: center;
}
.btn-exc {
  width: 100%;
  max-width: 565px;
  height: 66px;
  margin: 115px 0 147px;
  font-size: 24px;
  line-height: 24px;
  border-radius: 56px;
  font-weight: bold;
  background: #fcee21;
  color: #5b2386;
  border: none;
}
.cont-footer {
  margin: 257px 0 70px 0;
}
.cont-footer .txt-footer {
  font-size: 12px;
  line-height: 17px;
  color: #fff;
}
.img-footer {
  display: block;
  width: 125px;
  height: 25px;
  margin: 0 auto 20px;
}

@media screen and (max-width: 414px) {
  .txt-wannabe input,
  .txt-time input {
    display: block;
    margin: 10px auto;
  }

  .txt-wannabe strong,
  .txt-time strong {
    display: block;
    margin: 10px auto;
  }

  .btn-exc {
    font-size: 18px;
  }
}
